
header {
    font-weight: 600;
    background-color: #000000; 
    color: #ffffff;
    padding: 10px 20px;
  }
  
  nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px; 
  }
  
  a {
    text-decoration: none; 
    color: #ffffff; 
    font-size: 18px;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #f0f0f0; 
  }
  
