section{
    text-align: center;
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    div.container{
        margin-top: 17vh;
        background-color: rgba(0, 0, 0, 0.055);
        border: 5px solid white;
        padding: 50px;
        width: 60vw;
        border-radius: 10px;
        height: 25vw;
        margin: 50px;
    }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;

  .text-section {
      text-align: left;

      h1, h2, h3 {
          margin: 0;
      }

      p {
          margin: 20px 0;
      }

      .socials-badge {
          margin: 10px 0px;

          .socials{
            display: flex;

          .link{
            margin: 0px 5px;
          }
          }
      }
  }
}
  
  
  
  
  
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #1565c0;
  }
  
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  
  .image-placeholder {
    border-radius: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;

    & > img {
      width: 300px;
      height: 300px;
      border-radius: 100%;
    }

  
  }
  
